<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Student Dashboard{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Student Dashboard</h1>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>© 2026 Student Dashboard</p>
    </footer>

</body>
</html>