{% extends "base.html" %}

{% block title %} Catalog {% endblock title %}

{% block content %}
<h1>Products</h1>

{% for product in products %}
<h2><b>Product Name:</b> {{product.name}}</h2>

<p><b>Price:</b> {{product.price}}</p>
<p><b>Category:</b> {{product.category}}</p>
<p><b>Description:</b> {{product.description}}</p>
<p><b>Ratings:</b> {{product.rating}}</p>

{% if product.in_stock %}
    <p><b>Availability:</b> In stock</p>
{% else %}
    <p><b>Availability:</b> Out of Stock</p>
{% endif %}
<hr>

{% endfor %}
{% endblock content %}